.navbar {
    background-color: black;
}

.navbar-brand {
    color: white;
}

.carousel-caption{
    background-color: white;
    color: black;
}

.img-fluid{
    width: 30%;
    float: left;
    position: relative;
}
